<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .mum-logo img {
            height: 100px;
            width: auto;
        }
        .mum-logo{
            margin-left: 200px;
            margin-bottom: 20px;
        }
        .uni-title{
            margin-left: 100px;
            font-size: 20px;

        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div>

    <div class="col-md-8 pull-right">

        <div class="mum-logo col-md-12">
            <img src="../images/mumlogo.png" th:src="@{/images/mumlogo.png}" alt="MUM">
         </div>
        <div class="uni-title">
            <span class="logo-name"> Maharishi University </span>
            <span class="logo-name block"> of Management </span>
        </div>
    </div>
    <div id="loginbox" style="margin-top: 50px;margin-left:40%;"
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>

            <div style="padding-top: 30px" class="panel-body">

                <!-- Login Form -->
                <form th:action="@{/authUser}"
                      method="POST" class="form-horizontal">

                    <!-- Place for messages: error, alert etc ... -->
                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>

                                <!-- Check for login error -->

                                <div th:if="${loginError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    Invalid username or password.
                                </div>

                                <!-- Check for logout -->

                                <div th:if="${loggedOut}" class="alert alert-success col-xs-offset-1 col-xs-10">
                                    You have been logged out.
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- User name -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                        <input required type="text" name="username" placeholder="username" class="form-control">
                    </div>

                    <!-- Password -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                        <input required type="password" name="password" placeholder="password" class="form-control">
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" name="remember-me"> Remember me? </label>
                    </div>

                    <!-- Login/Submit Button -->
                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>

                    <!-- I'm manually adding _csrf tokens -->

                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>

                </form>


            </div>

        </div>

    </div>


    <!--<p><a href="/loadUser" id="loadUser">Load User Data</a></p>-->
    <!--<p><a href="/loadData" id="loadDATA">Load ALL Data</a></p>-->

</div>

</body>
</html>